{% extends 'users/detail.html' %}
{% block user_details %}
<div class="col-sm-6">
  <ul class="list-group" id="messages">

    {% for message in user.messages %}

    <li class="list-group-item">
      <a href="/messages/{{ message.id }}" class="message-link" />

      <a href="/users/{{ user.id }}">
        <img src="{{ user.image_url }}" alt="user image" class="timeline-image">
      </a>

      <div class="message-area">
        <a href="/users/{{ user.id }}">@{{ user.username }}</a>
        <span class="text-muted">
          {{ message.timestamp.strftime('%d %B %Y') }}
        </span>
        <p>{{ message.text }}</p>
        {% if g.user.id %}
            <form action="/messages/{{message.id}}/like" method="POST" id="like_form" class="like_form">
              {{ form.hidden_tag() }}

              {% for field in form if field.widget.input_type != 'hidden' %}
              {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
              {{ field(placeholder=field.label.text, class="form-control") }}
              {% endfor %}

              {% if g.user.id == message.user_id %}
              {% elif message.id in like_message_ids %}
                <button type="submit" class="btn btn-primary"><i class="fas fa-heart like_button"></i></button>
              {% else %}
                <button type="submit" class="btn btn-primary"><i class="far fa-heart like_button"></i></button>
              {% endif %}
            </form>
          {% endif %}
      </div>
    </li>

    {% endfor %}

  </ul>
</div>
{% endblock %}